.modular {
  margin-top: 50px;

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    display: none;

    &:nth-child(-n+3) {
      display: flex;
    }

    &:nth-child(2n) {

      flex-direction: row-reverse;

      @include tablet {
        flex-direction: column;
      }

      .modular__img {
        box-shadow: 16px 16px 0 0 #efad81;

        @include tablet {
          box-shadow: none;
        }
      }
    }

    @include tablet {
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: 35px;
      }

      &:last-child {
        padding-bottom: 45px;
      }
    }

    @include small-tablet {
      .image {
        max-height: 250px;
      }
    }
  }

  &__box {
    max-width: 540px;
  }

  &__title {
    max-width: 360px;
    margin: 0;
    margin-bottom: 30px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 39px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: #000;

    @include tablet {
      font-size: 30px;
      margin-bottom: 15px;
    }

    @include small-tablet {
      font-size: 25px;
    }


  }



  &__text {
    margin: 0;
    margin-bottom: 53px;
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 170%;
    letter-spacing: -0.01em;
    color: #979491;

    @include tablet {
      font-size: 18px;
      margin-bottom: 30px;
    }

    @include small-tablet {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #000;
  }

  &__svg {
    margin-right: 12px;

    @include small-tablet {
      width: 35px;
      height: 35px;
      margin-right: 10px;
    }
  }

  &__more {
    margin: 0 auto;
    display: block;
    margin-bottom: 100px;
    padding: 8px 50px;
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #000;
    border: 1px solid #000;
    border-radius: 20px;

    @include tablet {
      margin-bottom: 50px;
    }
  }


}

.is-visible {
  display: flex;
}
