.several {
  position: relative;
  background-color: #e9ede6;
  margin-bottom: 90px;

  @include tablet {
    padding-bottom: 30px;
    margin-bottom: 20px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 1920px;
    height: 80px;
    bottom: -80px;
    z-index: 2;
    background-image: url(../img/advantages-delta.png);
    background-size: cover;
    left: 0;
    transform: rotate(180deg);

    @include tablet {
      background-image: none;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 65px;
    padding-top: 24px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 47px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #1c201e;

    @include tablet {
      font-size: 30px;
      margin-bottom: 30px;
    }

    @include small-tablet {
      font-size: 25px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 65px;
    }

    &:last-child {
      padding-bottom: 95px;
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;

      @include tablet {
        flex-direction: column;
      }

      .several__img {
        box-shadow: 16px 16px 0 0 #efad81;

        @include tablet {
          box-shadow: none;
        }
      }
    }

    @include tablet {
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: 35px;
      }

      &:last-child {
        padding-bottom: 45px;
      }
    }

    @include small-tablet {
      .image {
        max-height: 250px;
      }
    }

  }

  &__box {
    max-width: 540px;
    width: 100%;
  }

  &__subtitle {
    max-width: 390px;
    margin: 0;
    margin-bottom: 35px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 39px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: #000;

    @include tablet {
      font-size: 30px;
      margin-bottom: 15px;
    }

    @include small-tablet {
      font-size: 25px;
    }
  }

  &__text {
    max-width: 520px;
    margin: 0;
    margin-bottom: 50px;
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 170%;
    letter-spacing: -0.01em;
    color: #979491;

    @include tablet {
      font-size: 18px;
      margin-bottom: 30px;
    }

    @include small-tablet {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #000;

    @include small-tablet {
      font-size: 16px;
    }
  }

  &__svg {
    margin-right: 15px;

    @include small-tablet {
      width: 35px;
      height: 35px;
      margin-right: 10px;
    }
  }

  &__link {
    max-width: 195px;
    display: block;
    margin: 0 auto;
    margin-bottom: 53px;
    padding: 13px 12px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #f0f0f0;
    background: #efad81;

    @include tablet {
      margin-bottom: 10px;
    }
  }
}
