<section class="advantages">
  <div class="container">
    <h2 class="advantages__title">
      Наши преимущества - многолетний опыт и надежность
    </h2>
    <div class="advantages__grid">
      <div class="advantages__item">
        <h3 class="advantages__subtitle">
          Фиксированная <br>стоимость
        </h3>
        <p class="advantages__text">
          Цена отражена в договоре и не изменится в ходе строительства
        </p>
        <a href="#" class="advantages__btn">Перейти к проектам</a>
      </div>
      <div class="advantages__item">
        <h3 class="advantages__subtitle">
          Качественный материал
        </h3>
        <p class="advantages__text">
          Профилированный брус-массив естественной влажности оптимальный вариант для строительства деревянного дома
        </p>
        <a href="#" class="advantages__btn">Перейти к проектам</a>
      </div>
      <div class="advantages__item">
        <h3 class="advantages__subtitle">
          Подробный фотоотчет
        </h3>
        <p class="advantages__text">
          Для вашего спокойствия, мы готовы делать для вас подробный фотоотчет
        </p>
        <a href="#" class="advantages__btn">Перейти к проектам</a>
      </div>
      <div class="advantages__item">
        <h3 class="advantages__subtitle">
          Гарантия на <br> строительство
        </h3>
        <p class="advantages__text">
          В наших бригадах только квалифицированные специалисты и мы уверены в качестве наших домов, поэтому даем гарантию
        </p>
        <a href="#" class="advantages__btn">Перейти к проектам</a>
      </div>
    </div>
  </div>
</section>
