<section class="comment">
  <div class="container">
    <div class="comment__content">
      <div class="comment__box">
        <h2 class="comment__title">
          Что говорят наши клиенты
        </h2>
        <p class="comment__descr">
          Исключительный, лаконичный по своей форме, добротный дом с большой общей жилой площадью, который удовлетворит
          потребности всех членов семьи.
        </p>
      </div>
      <div class="comment__box">
        <div class="comment__item">
          <p class="comment__text">
            Их консультант по продажам был очень предупредителен, и мы всегда получали необходимую нам информацию. Весь процесс
            продажи был проведен
            профессионально, и это было главной причиной, по которой мы выбрали эту компанию.
          </p>
          <div class="comment__inner">
            <img loading="lazy" src="img/acc-img-1.png" class="image" width="50" height="50" alt="acc">
            <span class="comment__name">Антон Петров</span>
          </div>
        </div>
        <div class="comment__item">
          <p class="comment__text">
            Их консультант по продажам был очень предупредителен, и мы всегда получали необходимую нам информацию. Весь процесс
            продажи был проведен
            профессионально, и это было главной причиной, по которой мы выбрали эту компанию.
          </p>
          <div class="comment__inner">
            <img loading="lazy" src="img/acc-img-2.png" class="image" width="50" height="50" alt="acc">
            <span class="comment__name">Анна Петрова</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
