<section class="contacts-inner">
  <div class="container">
    <div class="contacts-inner__content">
      <div class="contacts-inner__item">
        <picture>
          <source srcset="img/contacts-inner-1.avif" type="image/avif">
          <source srcset="img/contacts-inner-1.webp" type="image/webp">
          <img loading="lazy" src="img/contacts-inner-1.jpg" class="image contacts-inner__img" width="256" height="326" alt="people">
        </picture>
        <div class="contacts-inner__box">
          <h2 class="contacts-inner__title">
            Руководитель отдела продаж Бабичев Игорь Борисович
          </h2>
          <a href="tel:+79806414757" class="contacts-inner__phone">+7 980 641-47-57</a>
          <a href="mailto:babichev@penowood.ru" class="contacts-inner__mail">babichev@penowood.ru</a>
          <div class="contacts-inner__socials">
            <a href="#" class="contacts-inner__link">
              <img loading="lazy" src="img/tel.svg" class="image" width="30" height="30" alt="tel">
            </a>
            <a href="#" class="contacts-inner__link">
              <img loading="lazy" src="img/wat.svg" class="image" width="30" height="30" alt="wat">
            </a>
          </div>
        </div>
      </div>
      <div class="contacts-inner__item">
        <picture>
          <source srcset="img/contacts-inner-2.avif" type="image/avif">
          <source srcset="img/contacts-inner-2.webp" type="image/webp">
          <img loading="lazy" src="img/contacts-inner-2.jpg" class="image contacts-inner__img" width="256" height="326" alt="people">
        </picture>
        <div class="contacts-inner__box">
          <h2 class="contacts-inner__title">
            Менеджер по продажам Зубрицкий Олег Ярославович
          </h2>
          <a href="tel:+79937585810" class="contacts-inner__phone">+7 993 758-58-10</a>
          <a href="mailto:ozubritskiy@prnowood.ru" class="contacts-inner__mail">ozubritskiy@prnowood.ru</a>
          <div class="contacts-inner__socials">
            <a href="#" class="contacts-inner__link">
              <img loading="lazy" src="img/tel.svg" class="image" width="30" height="30" alt="tel">
            </a>
            <a href="#" class="contacts-inner__link">
              <img loading="lazy" src="img/wat.svg" class="image" width="30" height="30" alt="wat">
            </a>
          </div>
        </div>
      </div>
      <div class="contacts-inner__item">
        <picture>
          <source srcset="img/contacts-inner-3.avif" type="image/avif">
          <source srcset="img/contacts-inner-3.webp" type="image/webp">
          <img loading="lazy" src="img/contacts-inner-3.jpg" class="image contacts-inner__img" width="256" height="326" alt="people">
        </picture>
        <div class="contacts-inner__box">
          <h2 class="contacts-inner__title">
            Менеджер по продажам Любанова Анна Евгеньевна
          </h2>
          <a href="tel:+79622450038" class="contacts-inner__phone">+7 962 245-00-38</a>
          <a href="mailto:alubanova@penowood.ru" class="contacts-inner__mail">alubanova@penowood.ru</a>
          <div class="contacts-inner__socials">
            <a href="#" class="contacts-inner__link">
              <img loading="lazy" src="img/tel.svg" class="image" width="30" height="30" alt="tel">
            </a>
            <a href="#" class="contacts-inner__link">
              <img loading="lazy" src="img/wat.svg" class="image" width="30" height="30" alt="wat">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
