<section class="contacts">
  <div class="container">
    <div class="contacts__content">
      <div class="contacts__inner">
        <h2 class="contacts__title">
          Наши <br>
          контакты
        </h2>
        <p class="contacts__address">
          172770, Тверская обл., Пеновский район, <br>
          пос. Пено, ул. Жагренкова, д. 13
        </p>
        <p class="contacts__time">
          Пн - пт  с 8:30 до 17:30
        </p>
        <div class="contacts__box">
          <div class="contacts__socials">
            <a href="#" class="contacts__link">
              <img loading="lazy" src="img/tel.svg" class="image" width="30" height="30" alt="tel">
            </a>
            <a href="#" class="contacts__link">
              <img loading="lazy" src="img/wat.svg" class="image" width="30" height="30" alt="wat">
            </a>
          </div>
          <div class="contacts__text">
            <p class="contacts__phone">
              +7 993 758-58-10
            </p>
            <p class="contacts__phone">
              +7 962 245-00-38
            </p>
          </div>
        </div>
        <p class="contacts__mail">IBabichev81@yandex.ru, <br> Babichev@penowood.ru</p>
        <button class="btn-reset contacts__btn" data-graph-path="modal">Заказать звонок</button>
      </div>
      <div class="contacts__map" id="map"></div>
    </div>
  </div>
</section>
