<section class="gallery">
  <div class="container">
    <div class="gallery__grid">
      <picture>
        <source srcset="img/gallery-1.avif" type="image/avif">
        <source srcset="img/gallery-1.webp" type="image/webp">
        <img loading="lazy" src="img/gallery-1.jpg" class="image" width="371" height="371" alt="gallery">
      </picture>
      <picture>
        <source srcset="img/gallery-2.avif" type="image/avif">
        <source srcset="img/gallery-2.webp" type="image/webp">
        <img loading="lazy" src="img/gallery-2.jpg" class="image" width="371" height="371" alt="gallery">
      </picture>
      <picture>
        <source srcset="img/gallery-3.avif" type="image/avif">
        <source srcset="img/gallery-3.webp" type="image/webp">
        <img loading="lazy" src="img/gallery-3.jpg" class="image" width="371" height="371" alt="gallery">
      </picture>
      <picture>
        <source srcset="img/gallery-1.avif" type="image/avif">
        <source srcset="img/gallery-1.webp" type="image/webp">
        <img loading="lazy" src="img/gallery-1.jpg" class="image" width="371" height="371" alt="gallery">
      </picture>
      <picture>
        <source srcset="img/gallery-2.avif" type="image/avif">
        <source srcset="img/gallery-2.webp" type="image/webp">
        <img loading="lazy" src="img/gallery-2.jpg" class="image" width="371" height="371" alt="gallery">
      </picture>
      <picture>
        <source srcset="img/gallery-3.avif" type="image/avif">
        <source srcset="img/gallery-3.webp" type="image/webp">
        <img loading="lazy" src="img/gallery-3.jpg" class="image" width="371" height="371" alt="gallery">
      </picture>
      <picture>
        <source srcset="img/gallery-1.avif" type="image/avif">
        <source srcset="img/gallery-1.webp" type="image/webp">
        <img loading="lazy" src="img/gallery-1.jpg" class="image" width="371" height="371" alt="gallery">
      </picture>
      <picture>
        <source srcset="img/gallery-2.avif" type="image/avif">
        <source srcset="img/gallery-2.webp" type="image/webp">
        <img loading="lazy" src="img/gallery-2.jpg" class="image" width="371" height="371" alt="gallery">
      </picture>
      <picture>
        <source srcset="img/gallery-3.avif" type="image/avif">
        <source srcset="img/gallery-3.webp" type="image/webp">
        <img loading="lazy" src="img/gallery-3.jpg" class="image" width="371" height="371" alt="gallery">
      </picture>
      <picture>
        <source srcset="img/gallery-1.avif" type="image/avif">
        <source srcset="img/gallery-1.webp" type="image/webp">
        <img loading="lazy" src="img/gallery-1.jpg" class="image" width="371" height="371" alt="gallery">
      </picture>
      <picture>
        <source srcset="img/gallery-2.avif" type="image/avif">
        <source srcset="img/gallery-2.webp" type="image/webp">
        <img loading="lazy" src="img/gallery-2.jpg" class="image" width="371" height="371" alt="gallery">
      </picture>
      <picture>
        <source srcset="img/gallery-3.avif" type="image/avif">
        <source srcset="img/gallery-3.webp" type="image/webp">
        <img loading="lazy" src="img/gallery-3.jpg" class="image" width="371" height="371" alt="gallery">
      </picture>
    </div>
  </div>
</section>
