<section class="hero-v2">
  <div class="container">
    <div class="hero-v2__content">
      <div class="hero-v2__box">
        <h1 class="hero-v2__title">
          Модульные <br>
          дома
        </h1>
        <p class="hero-v2__text">
          Новая технология строительства, которая представляет собой быстровозводимые и легкие здания, состоящие из отдельных
          модулей (блоков)
        </p>
        <button class="btn-reset hero-v2__btn" data-graph-path="modal">Связаться с нами</button>
      </div>
      <picture>
        <source srcset="img/hero-v2.avif" type="image/avif">
        <source srcset="img/hero-v2.webp" type="image/webp">
        <img loading="lazy" src="img/hero-v2.jpg" class="image hero-v2__img" width="530" height="448" alt="hero-v2">
      </picture>
    </div>
  </div>
</section>
