<section class="houses">
  <div class="container container--grid">
    <div class="filter">
      <p class="filter__title">
        Фильтр
      </p>
      <div class="filter__content">
        <div class="filter__box">
          <div class="filter__nav">
            <button class="btn-reset filter__prev" id="prev"></button>
            <button class="btn-reset filter__next" id="next"></button>
          </div>
          <p class="filter__subtitle">
            Цена:
          </p>
          <ul class="filter__list list-reset" id="list">
            <li class="filter__item">
              <button class="btn-reset filter__btn" data-radius="0" data-radius2="1000000">до 1 млн.</button>
            </li>
            <li class="filter__item">
              <button class="btn-reset filter__btn"  data-radius="1000000" data-radius2="3000000">1 -3 млн.</button>
            </li>
            <li class="filter__item">
              <button class="btn-reset filter__btn" data-radius="3000000" data-radius2="5000000" >3-5 млн.</button>
            </li>
            <li class="filter__item">
              <button class="btn-reset filter__btn" data-radius="5000000" data-radius2="8000000" >5-8 млн.</button>
            </li>
            <li class="filter__item">
              <button class="btn-reset filter__btn" data-radius="8000000" data-radius2="10000000">8-10 млн.</button>
            </li>
            <li class="filter__item">
              <button class="btn-reset filter__btn " data-radius="10000000" data-radius2="12000000">10-12 млн.</button>
            </li>
          </ul>

        </div>
        <div class="filter__box">
          <p class="filter__subtitle">
            Площадь:
          </p>
          <ul class="filter__list list-reset" id="list2">
            <div class="filter__nav">
              <button class="btn-reset filter__prev" id="prev2"></button>
              <button class="btn-reset filter__next" id="next2"></button>
            </div>
            <li class="filter__item">
              <button class="btn-reset filter__btn" data-size="0" data-size2="50">до 50м²</button>
            </li>
            <li class="filter__item">
              <button class="btn-reset filter__btn" data-size="50" data-size2="70">50-70м²</button>
            </li>
            <li class="filter__item">
              <button class="btn-reset filter__btn" data-size="70" data-size2="100">70-100м²</button>
            </li>
            <li class="filter__item">
              <button class="btn-reset filter__btn" data-size="100" data-size2="130">100-130м²</button>
            </li>
            <li class="filter__item">
              <button class="btn-reset filter__btn" data-size="130" data-size2="180">130-180м²</button>
            </li>
            <li class="filter__item">
              <button class="btn-reset filter__btn" data-size="180" data-size2="230">180-230м²</button>
            </li>
            <li class="filter__item">
              <button class="btn-reset filter__btn" data-size="230" data-size2="280">230-280м²</button>
            </li>
            <li class="filter__item">
              <button class="btn-reset filter__btn" data-size="280" data-size2="330">280-330м²</button>
            </li>
          </ul>

        </div>
        <div class="filter__box">
          <p class="filter__subtitle">
            Этажность:
          </p>
          <ul class="filter__list list-reset">
            <li class="filter__item">
              <button class="btn-reset filter__btn" data-floor="1">1</button>
            </li>
            <li class="filter__item">
              <button class="btn-reset filter__btn" data-floor="2">2</button>
            </li>

          </ul>
        </div>
      </div>

    </div>

    <div class="houses__grid">
      <div class="houses__item" data-price="1690000" data-sizeTotal="120"  data-floorTotal="1">
        <picture>
          <source srcset="img/houses-1.avif" type="image/avif">
          <source srcset="img/houses-1.webp" type="image/webp">
          <img loading="lazy" src="img/houses-1." class="image" width="435" height="250" alt="house">
        </picture>
        <h2 class="houses__title">
          Дом из профилированного бруса "С-29"s
        </h2>
        <div class="houses__box">
          <span class="houses__size">
            120,3 м2
          </span>
          <span class="houses__price">
            1 690 000 ₽
          </span>
        </div>
        <a href="#" class="houses__link">
          Подробнее о проекте
        </a>
        <button class="btn-reset houses__btn" data-graph-path="modal">
          Получить консультацию
        </button>
      </div>
      <div class="houses__item" data-price="1972000" data-sizeTotal="120"  data-floorTotal="1">
        <picture>
          <source srcset="img/houses-1.avif" type="image/avif">
          <source srcset="img/houses-1.webp" type="image/webp">
          <img loading="lazy" src="img/houses-1." class="image" width="435" height="250" alt="house">
        </picture>
        <h2 class="houses__title">
          Дом из профилированного бруса "С-29"s
        </h2>
        <div class="houses__box">
          <span class="houses__size">
            120,3 м2
          </span>
          <span class="houses__price">
            1 972 000 ₽
          </span>
        </div>
        <a href="#" class="houses__link">
          Подробнее о проекте
        </a>
        <button class="btn-reset houses__btn" data-graph-path="modal">
          Получить консультацию
        </button>
      </div>
      <div class="houses__item" data-price="4320000" data-sizeTotal="120"  data-floorTotal="1">
        <picture>
          <source srcset="img/houses-1.avif" type="image/avif">
          <source srcset="img/houses-1.webp" type="image/webp">
          <img loading="lazy" src="img/houses-1." class="image" width="435" height="250" alt="house">
        </picture>
        <h2 class="houses__title">
          Дом из профилированного бруса "С-29"s
        </h2>
        <div class="houses__box">
          <span class="houses__size">
            120,3 м2
          </span>
          <span class="houses__price">
            4 320 000 ₽
          </span>
        </div>
        <a href="#" class="houses__link">
          Подробнее о проекте
        </a>
        <button class="btn-reset houses__btn" data-graph-path="modal">
          Получить консультацию
        </button>
      </div>
      <div class="houses__item" data-price="50000" data-sizeTotal="120"  data-floorTotal="2">
        <picture>
          <source srcset="img/houses-1.avif" type="image/avif">
          <source srcset="img/houses-1.webp" type="image/webp">
          <img loading="lazy" src="img/houses-1." class="image" width="435" height="250" alt="house">
        </picture>
        <h2 class="houses__title">
          Дом из профилированного бруса "С-29"s
        </h2>
        <div class="houses__box">
          <span class="houses__size">
            120,3 м2
          </span>
          <span class="houses__price">
            1 690 000 ₽
          </span>
        </div>
        <a href="#" class="houses__link">
          Подробнее о проекте
        </a>
        <button class="btn-reset houses__btn" data-graph-path="modal">
          Получить консультацию
        </button>
      </div>
      <div class="houses__item" data-price="9690000" data-sizeTotal="140"  data-floorTotal="2">
        <picture>
          <source srcset="img/houses-1.avif" type="image/avif">
          <source srcset="img/houses-1.webp" type="image/webp">
          <img loading="lazy" src="img/houses-1." class="image" width="435" height="250" alt="house">
        </picture>
        <h2 class="houses__title">
          Дом из профилированного бруса "С-29"s
        </h2>
        <div class="houses__box">
          <span class="houses__size">
            120,3 м2
          </span>
          <span class="houses__price">
            1 690 000 ₽
          </span>
        </div>
        <a href="#" class="houses__link">
          Подробнее о проекте
        </a>
        <button class="btn-reset houses__btn" data-graph-path="modal">
          Получить консультацию
        </button>
      </div>
      <div class="houses__item" data-price="9690000" data-sizeTotal="120"  data-floorTotalTotal="2">
        <picture>
          <source srcset="img/houses-1.avif" type="image/avif">
          <source srcset="img/houses-1.webp" type="image/webp">
          <img loading="lazy" src="img/houses-1." class="image" width="435" height="250" alt="house">
        </picture>
        <h2 class="houses__title">
          Дом из профилированного бруса "С-29"s
        </h2>
        <div class="houses__box">
          <span class="houses__size">
            120,3 м2
          </span>
          <span class="houses__price">
            1 690 000 ₽
          </span>
        </div>
        <a href="#" class="houses__link">
          Подробнее о проекте
        </a>
        <button class="btn-reset houses__btn" data-graph-path="modal">
          Получить консультацию
        </button>
      </div>
      <div class="houses__item" data-price="1690000" data-sizeTotal="120"  data-floorTotal="2">
        <picture>
          <source srcset="img/houses-1.avif" type="image/avif">
          <source srcset="img/houses-1.webp" type="image/webp">
          <img loading="lazy" src="img/houses-1." class="image" width="435" height="250" alt="house">
        </picture>
        <h2 class="houses__title">
          Дом из профилированного бруса "С-29"s
        </h2>
        <div class="houses__box">
          <span class="houses__size">
            120,3 м2
          </span>
          <span class="houses__price">
            1 690 000 ₽
          </span>
        </div>
        <a href="#" class="houses__link">
          Подробнее о проекте
        </a>
        <button class="btn-reset houses__btn" data-graph-path="modal">
          Получить консультацию
        </button>
      </div>
      <div class="houses__item" data-price="1690000" data-sizeTotal="120"  data-floorTotal="2">
        <picture>
          <source srcset="img/houses-1.avif" type="image/avif">
          <source srcset="img/houses-1.webp" type="image/webp">
          <img loading="lazy" src="img/houses-1." class="image" width="435" height="250" alt="house">
        </picture>
        <h2 class="houses__title">
          Дом из профилированного бруса "С-29"s
        </h2>
        <div class="houses__box">
          <span class="houses__size">
            120,3 м2
          </span>
          <span class="houses__price">
            1 690 000 ₽
          </span>
        </div>
        <a href="#" class="houses__link">
          Подробнее о проекте
        </a>
        <button class="btn-reset houses__btn" data-graph-path="modal">
          Получить консультацию
        </button>
      </div>
      <div class="houses__item" data-price="1690000" data-sizeTotal="120"  data-floorTotal="1">
        <picture>
          <source srcset="img/houses-1.avif" type="image/avif">
          <source srcset="img/houses-1.webp" type="image/webp">
          <img loading="lazy" src="img/houses-1." class="image" width="435" height="250" alt="house">
        </picture>
        <h2 class="houses__title">
          Дом из профилированного бруса "С-29"s
        </h2>
        <div class="houses__box">
          <span class="houses__size">
            120,3 м2
          </span>
          <span class="houses__price">
            1 690 000 ₽
          </span>
        </div>
        <a href="#" class="houses__link">
          Подробнее о проекте
        </a>
        <button class="btn-reset houses__btn" data-graph-path="modal">
          Получить консультацию
        </button>
      </div>
      <div class="houses__item" data-price="1690000" data-sizeTotal="120"  data-floorTotal="1">
        <picture>
          <source srcset="img/houses-1.avif" type="image/avif">
          <source srcset="img/houses-1.webp" type="image/webp">
          <img loading="lazy" src="img/houses-1." class="image" width="435" height="250" alt="house">
        </picture>
        <h2 class="houses__title">
          Дом из профилированного бруса "С-29"s
        </h2>
        <div class="houses__box">
          <span class="houses__size">
            120,3 м2
          </span>
          <span class="houses__price">
            1 690 000 ₽
          </span>
        </div>
        <a href="#" class="houses__link">
          Подробнее о проекте
        </a>
        <button class="btn-reset houses__btn" data-graph-path="modal">
          Получить консультацию
        </button>
      </div>


    </div>
    <div class="pagination-container"></div>
  </div>
</section>
