<section class="house-inner">
  <div class="container">
    <div class="house-inner__content">
      <picture>
        <source srcset="img/house-inner.avif" type="image/avif">
        <source srcset="img/house-inner.webp" type="image/webp">
        <img loading="lazy" src="img/house-inner.jpg" class="image" width="756" height="425" alt="house">
      </picture>
      <div class="house-inner__info">
        <p class="house-inner__name">
          Описание проекта
        </p>
        <ul class="house-inner__list list-reset">
          <li class="house-inner__item">
            <span class="house-inner__descr">
              75.51 кв.м
            </span>
          </li>
          <li class="house-inner__item">
            <span class="house-inner__descr">
              1 этаж
            </span>
          </li>
          <li class="house-inner__item">
            <span class="house-inner__descr">
              3 комнаты
            </span>
          </li>
          <li class="house-inner__item">
            <span class="house-inner__descr">
              1 санузел
            </span>
          </li>
        </ul>
        <p class="house-inner__name house-inner__name--two">Стоимость</p>
        <p class="house-inner__price">от 3 078 000 ₽</p>
        <button class="btn-reset house-inner__btn" data-graph-path="modal">Получить консультацию</button>
        <a href="#" class="house-inner__link">Скачать презентацию проекта</a>
      </div>
    </div>
    <div class="house-inner__content">
      <div class="house-inner__box">
        <h2 class="house-inner__title">
          Изменение конструкции
        </h2>
        <p class="house-inner__text">
          Вы можете дополнить дом пристройками и террасами, изменить планировку или немного подвинуть стены по вашему
          вкусу. Мы
          реализуем любые ваши идеи.
        </p>
      </div>
      <div class="house-inner__dls">
        <div class="house-inner__inner">
          <img loading="lazy" src="img/house-inner-icon-1.svg" class="image" width="126" height="80" alt="icon">
          <p class="house-inner__subtitle">
            Пристройки и трассы
          </p>
        </div>
        <div class="house-inner__inner">
          <img loading="lazy" src="img/house-inner-icon-2.svg" class="image" width="80" height="79" alt="icon">
          <p class="house-inner__subtitle">
            Внутренние коммуникации
          </p>
        </div>
      </div>


    </div>
    <div class="house-inner__content">
      <div class="house-inner__box">
        <h2 class="house-inner__title">
          Поэтажный <br> план
        </h2>
        <p class="house-inner__text house-inner__text--accent">
          Вы можете дополнить дом пристройками и террасами, изменить планировку или немного подвинуть стены по вашему
          вкусу. Мы
          реализуем любые ваши идеи.
        </p>
        <button class="btn-reset house-inner__btn" data-graph-path="modal">Получить консультацию</button>
      </div>
      <picture>
        <source srcset="img/shem.avif" type="image/avif">
        <source srcset="img/shem.webp" type="image/webp">
        <img loading="lazy" src="img/shem.jpg" class="image house-inner__shem" width="423" height="300" alt="shem">
      </picture>
    </div>
  </div>
</section>
