<section class="list">
  <div class="container">
    <ul class="list__list list-reset">
      <li class="list__item">
        <p class="list__text">
          100+
        </p>
        <p class="list__descr">
          домов построили
        </p>
      </li>
      <li class="list__item">
        <p class="list__text">
          98%
        </p>
        <p class="list__descr">
          домов принимают <br>
          без доп работ
        </p>
      </li>
      <li class="list__item">
        <p class="list__text">
          10
        </p>
        <p class="list__descr">
          лет на рынке
        </p>
      </li>
      <li class="list__item">
        <p class="list__text">
          28
        </p>
        <p class="list__descr">
          сотрудника
        </p>
      </li>
    </ul>
  </div>
</section>
