<section class="modular-inner">
  <div class="container">
    <div class="modular-inner__content">
      <picture>
        <source srcset="img/modular-inner.avif" type="image/avif">
        <source srcset="img/modular-inner.webp" type="image/webp">
        <img loading="lazy" src="img/modular-inner.jpg" class="image modular-inner__img" width="550" height="700" alt="modular-inner">
      </picture>

      <ul class="modular-inner__list list-reset">
        <li class="modular-inner__item">
          <p class="modular-inner__subtitle">
            Цена
          </p>
          <p class="modular-inner__text">
            Стоимость дома под ключ – 3 600 000 руб.
          </p>
        </li>
        <li class="modular-inner__item">
          <p class="modular-inner__subtitle">
            Силовой Каркас
          </p>
          <p class="modular-inner__text">
            Силовой каркас из строганного бруса камерной сушки 50Х100мм, обработан антисептиком марки «Сенеж», стены — утепление
            Knauf 100мм.Перекрытия пола и потолка — утепление Knauf 200мм.
          </p>
        </li>
        <li class="modular-inner__item">
          <p class="modular-inner__subtitle">
            Внешняя отделка
          </p>
          <p class="modular-inner__text">
            Имитация бруса сорт АВ (ель, сосна) 16Х146мм + Вальцовый фасад 341*25мм (0.55+) Матовый полиэстер.
          </p>
        </li>
        <li class="modular-inner__item">
          <p class="modular-inner__subtitle">
            Внутренняя отделка
          </p>
          <p class="modular-inner__text">
            Декорированная фанера, пропитанная антисептиком и покрытая бесцветным экологически безвредным составом в сухих
            помещениях.
          </p>
        </li>
        <li class="modular-inner__item">
          <p class="modular-inner__subtitle">
            Окна и двери
          </p>
          <p class="modular-inner__text">
            Профиль Rehau, двухкамерный стеклопакет, внешнее остекление усиленное 6мм, два внутренних по 4мм.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
