<section class="section-modular">
  <div class="container">
    <h2 class="section-modular__title">
      Наши модульные дома
    </h2>
    <div class="swiper section-modular__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="section-modular__content">
            <picture>
              <source srcset="img/section-modular-1.avif" type="image/avif">
              <source srcset="img/section-modular-1.webp" type="image/webp">
              <img loading="lazy" src="img/section-modular-1.jpg" class="image" width="580" height="412" alt="img">
            </picture>
            <div class="section-modular__box">
              <h3 class="section-modular__subtitle">
                Модульный дом «Weekend Family» (2,5х6 м)
              </h3>
              <ul class="section-modular__list list-reset">
                <li class="section-modular__item">
                  <img loading="lazy" src="img/section-modular-icon-1.svg" class="image" width="50" height="50" alt="img">
                  <p class="section-modular__text">
                    75.51 <br> кв.м
                  </p>
                </li>
                <li class="section-modular__item">
                  <img loading="lazy" src="img/section-modular-icon-2.svg" class="image" width="50" height="50" alt="img">
                  <p class="section-modular__text">
                    3 комнаты
                  </p>
                </li>
                <li class="section-modular__item">
                  <img loading="lazy" src="img/section-modular-icon-3.svg" class="image" width="50" height="50" alt="img">
                  <p class="section-modular__text">
                    1 санузел
                  </p>
                </li>
              </ul>
              <a href="#" class="btn-reset section-modular__btn">
                <img loading="lazy" src="img/arrow-gray.png" class="image section-modular__svg" width="47" height="47" alt="btn">
                Перейти на проект
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section-modular__content">
            <picture>
              <source srcset="img/section-modular-1.avif" type="image/avif">
              <source srcset="img/section-modular-1.webp" type="image/webp">
              <img loading="lazy" src="img/section-modular-1.jpg" class="image" width="580" height="412" alt="img">
            </picture>
            <div class="section-modular__box">
              <h3 class="section-modular__subtitle">
                Модульный дом «Weekend Family» (2,5х6 м)
              </h3>
              <ul class="section-modular__list list-reset">
                <li class="section-modular__item">
                  <img loading="lazy" src="img/section-modular-icon-1.svg" class="image" width="50" height="50" alt="img">
                  <p class="section-modular__text">
                    75.51 <br> кв.м
                  </p>
                </li>
                <li class="section-modular__item">
                  <img loading="lazy" src="img/section-modular-icon-2.svg" class="image" width="50" height="50" alt="img">
                  <p class="section-modular__text">
                    3 комнаты
                  </p>
                </li>
                <li class="section-modular__item">
                  <img loading="lazy" src="img/section-modular-icon-3.svg" class="image" width="50" height="50" alt="img">
                  <p class="section-modular__text">
                    1 санузел
                  </p>
                </li>
              </ul>
              <a href="#" class="section-modular__btn">
                <img loading="lazy" src="img/arrow-gray.png" class="image section-modular__svg" width="47" height="47"
                  alt="btn">
                Перейти на проект
              </a>
            </div>
          </div>
        </div>

      </div>
      <button class="btn-reset section-modular__arrow section-modular__arrow--prev"></button>
      <button class="btn-reset section-modular__arrow section-modular__arrow--next"></button>
    </div>
  </div>
</section>
