<section class="several">
  <div class="container">
    <h2 class="several__title">
      Здесь представлено лишь несколько <br>
      домов с индивидуальным дизайном
    </h2>
    <div class="several__content">
      <div class="several__item">
        <picture>
          <source srcset="img/several-1.avif" type="image/avif">
          <source srcset="img/several-1.webp" type="image/webp">
          <img loading="lazy" src="img/several-1.jpg" class="image" width="580" height="412" alt="house">
        </picture>
        <div class="several__box">
          <h3 class="several__subtitle">
            Модульный дом «Weekend Family» (2,5х6 м)
          </h3>
          <p class="several__text">
            При входе в дом вы сразу ощущаете его теплую и гостеприимную атмосферу. Большие окна пропускают максимальное количество
            естественного света.
          </p>
          <a href="#" class="several__btn">
            <img loading="lazy" src="img/arrow.png" class="image several__svg" width="47" height="47" alt="btn">
            Перейти на проект
          </a>
        </div>
      </div>
      <div class="several__item">

        <div class="several__box several__box--accent">
          <h3 class="several__subtitle">
            Модульный дом «Weekend Family» (2,5х6 м)
          </h3>
          <p class="several__text">
            При входе в дом вы сразу ощущаете его теплую и гостеприимную атмосферу. Большие окна пропускают максимальное
            количество
            естественного света.
          </p>
          <a href="#" class="several__btn">
            <img loading="lazy" src="img/arrow.png" class="image several__svg" width="47" height="47" alt="btn">
            Перейти на проект
          </a>
        </div>
        <picture>
          <source srcset="img/several-2.avif" type="image/avif">
          <source srcset="img/several-2.webp" type="image/webp">
          <img loading="lazy" src="img/several-2.png" class="image " width="580" height="412" alt="house">
        </picture>
      </div>
      <div class="several__item">
        <picture>
          <source srcset="img/several-3.avif" type="image/avif">
          <source srcset="img/several-3.webp" type="image/webp">
          <img loading="lazy" src="img/several-3.jpg" class="image " width="580" height="412" alt="house">
        </picture>
        <div class="several__box">
          <h3 class="several__subtitle">
            Модульный дом «Weekend Family» (2,5х6 м)
          </h3>
          <p class="several__text">
            При входе в дом вы сразу ощущаете его теплую и гостеприимную атмосферу. Большие окна пропускают максимальное
            количество
            естественного света.
          </p>
          <a href="#" class="several__btn">
            <img loading="lazy" src="img/arrow.png" class="image several__svg" width="47" height="47" alt="btn">
            Перейти на проект
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
