// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Involve", sans-serif;
  --second-family: "Work Sans", sans-serif;
  --third-family: "Manrope", sans-serif;
  --font5: "DM Serif Display", sans-serif;
  --font4: "Roboto", sans-serif;
  --content-width: 1200px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light: #fff;
  --dark: #000;
  --accent: #efad81;


}
